biopython==1.81
click==8.1.3
coloredlogs==15.0.1
genemethods==0.0.0.61
geneseekr==0.5.0
genewrappers==0.0.0.10
numpy==1.26.4
OLCTools==1.3.5
psutil==5.9.4
pytest==7.2.1
pytest-cov==4.0.0
seaborn==0.12.2
setuptools==69.0.3
xlsxwriter==3.0.2
